html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
  body
    //- .navbar.navbar-fixed-top(role='navigation')
      //- .container-fluid
      //-   .nav.navbar-right
      //-     form(method='get', action="/lgoin", id='login')
      //-       input(class='btn navbar-btn' value='Login' type='submit' style='background-color: #f2f2f2; color: #757575; font-weight: bold;')
    .navbar.navbar-fixed-top(role='navigation')
      .container-fluid
        .nav.navbar-right
          form(metdho="get", action="/login", id="login")
            input(class="btn navbar-btn" value="Sign in" type="submit" style="margin-right:120px; margin-top: 40px; font-size:110%; background-color: #f2f2f2; color: #757575; font-weight: bold;")
    div(style='margin-top: 10%')
      img(src='/logo.png', style='display: block; margin-left: auto; margin-right: auto; width: 540')
      br
      br
      .container
        .col-md-2
        .col-md-8
          form(method='get', action="/search", id='search')
            .col-md-10
              input.form-control(id='search_text', name='search_text', placeholder='Search by City/State or Zipcode' style='box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)')
            .col-md-2
              input.form-control(class='btn' type='submit' value='Search' style='background-color: #f2f2f2; color: #757575; font-weight: bold;')
        .col-md-2